@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.heading {
    font-size: 1.8rem;
    border: 2px solid white;
    padding: 0.5rem 4rem;
    border-radius: 0.8rem;
}

.hero {
    width: 60%;
}

.input-section {
    width: 100%;
    border-radius: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem 0;
    gap: 1rem;
}

input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    max-width: 40%;
}

#submit {
    padding: 0.7rem 4rem;
    background-color: #1E194D;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    max-width: 40%;
}

.userData {
    background-color: #1E194D;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.profile-image {
    width: 30%;
    height: 40%;
}

.profileImg {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    width: 100%;
    gap: 1rem;
}

.info div {
    background-color: #5D48E8;
    gap: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}